{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
        <h1>Rango says...</h1>
        <h1><strong>About Page</strong><br /></h1>
        <div>
            This tutorial has been put together by Raghad Abdul Rab<br />
        </div>
        <div>

            <img src="{{ MEDIA_URL}}cat.jpg" alt="Picture of a cat" />
            <p><img src="/static/images/rango.jpg" alt="Picture of Rango" /></p>

        </div>
        <p> visits: {{ visits }}</p>
{% endblock %}
